
!/.gitignore
!/pnpm-lock.yaml
# .vscode
# Editor directories and files
# Log files
# apps/admin/mock/
# local env files
*-dist
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.cache
.env.*.local
.env.local
.eslintcache
.history
.idea
.local
.npmrc
.pnpm-debug.log*
.turbo
.vscode
demo-web
dist
node_modules
npm-debug.log*
package-lock.json
pnpm-debug.log*
pnpm-lock.yaml
tests/server/static
tests/server/static/upload
yarn-debug.log*
yarn-error.log*
